@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #4b2615;
  --color-secondary: #6b4b3d;
  --color-tertiary: #69483a;
  --color-quaternary: #c68f73;
  --color-quinary: #f5d9c7;
  --color-senary: #4a2f24;
  --color-septenary: #4a2f24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
